<script>
    window.shoppingCartData = function (passedProducts) {
        return {
            products: passedProducts,
        };
    };
</script>
<div
    x-data="shoppingCartData({{ passedProducts }});"
    x-init=""
    class="flex flex-col gap-3"
>
    <form action="" class="flex flex-col gap-3">
        <!-- add filter here! -->
    </form>
    <form action="" class="flex flex-col gap-3">
        <template x-for="(item, index) in products">
            <div
                x-data="{}"
                x-init="loadComponent('shoppingItem', $el, {product: item});"
            ></div>
        </template>
    </form>
</div>
